<div class="row">
    <div class="col-xs-12">
        <!--<app-challenge [message]="unsuccess" *ngIf="failedChallange" (close)="onHandleFail()"></app-challenge>-->
        <app-challenge [message]="success" *ngIf="progressSum>=30" (close)="onHandleSuccess()"></app-challenge>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ habit.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group"
        appDropdown>
            <button 
                type="button" 
                class="btn btn-primary dropdown-toggle">
                Manage Habit <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onEditHabit()">Edit Habit</a></li>
                <li><a (click)="onDeleteHabit()">Delete Habit</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
            {{ habit.description }}
    </div>
</div>
<div class="row">
        <div class="col-xs-12">
                {{ progressSum }}/30
        </div>
</div>
<div class="row">
    <div class="col-xs-12 app-calendar">
        <full-calendar 
        #calendar
        defaultView="dayGridMonth"
        [header]="{
            left: 'prev next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        }"
        [plugins]="calendarPlugins"
        [weekends]="calendarWeekends"
        
        (dateClick)="handleDateClick($event)"
        [events]="calendarEvents"
        id="calendar">
            
        </full-calendar>
        <p class="alert alert-danger" *ngIf="failedChallange">Sajnos nem sikerült a 30 napig tartanod a 2 day rulet :(</p>
    </div>
</div>