<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Habit</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a 
        href="#" 
        class="list-group-item clearfix" 
        *ngFor="let habit of habits">
            <div class="pull-left">
                <h4 class="list-group-item-heading"> {{ habit.name }} </h4>
                <p class="list-group-item-text">{{ habit.description }}</p>
                <p class="list-group-item-text">{{ habit.progress }}</p>
            </div>
        </a>
        <app-habit-item></app-habit-item>
    </div>
</div>