<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="habitForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12 form-group">
                    <label for="name" >Name</label>
                    <input type="text" 
                    id="name"
                    class="form-control"
                    formControlName="name" >
                </div>
                <div class="col-xs-12 form-group">
                    <label for="description" >Description</label>
                    <input type="text" 
                    id="description" 
                    class="form-control"
                    formControlName="description" >
                </div>
                <div class="col-xs-12 form-group">
                    <label for="progress" >Progress</label>
                    <input type="text" 
                    id="progress" 
                    class="form-control"
                    formControlName="progress" >
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit"  
                    class="btn btn-success" 
                    [disabled]="!habitForm.valid">Save</button>
                    <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
                </div>
            </div>
        </form>

        <div class="row">
                <div class="col-xs-12 app-calendar form-group">
                    <full-calendar
                        #calendar
                        defaultView="dayGridMonth"
                        [header]="{
                            left: 'prev next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                        }"
                        [plugins]="calendarPlugins"
                        [weekends]="calendarWeekends"
                        [events]="calendarEvents"
                        (dateClick)="handleDateClick($event)"
                        id="calendar"
                        ></full-calendar>
                </div>
            </div>
    </div>
</div>