<nav class="navbar navbar-dark bg-success">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/habits" class="navbar-brand">Two day rule</a>
        </div>

        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/habits" >Habits</a></li>
                <li routerLinkActive="active"><a routerLink="/auth" >Login</a></li>
            </ul>
        </div>
    </div>
</nav>